@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
body {
    margin: 0px;
    height: 100vh;
    background-color: #16213E;
}

header {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header > h1 {
    margin: 0px;
    word-spacing: 10px;
    text-transform: uppercase;
    font-size: 56px;
    color: #E94560;
}
header > h3 {
    margin: 0px;
    color: #9338a5;
}
main {
    box-sizing: border-box;
    background: #16213E;
    height: 55%;
    display: flex;
    gap: 5px;
    padding: 10px 15px 10px 15px;
    align-items: center;
    justify-content: center;
}
main > div {
    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    background-color: #E94560;
    background: rgb(233,69,96);
    background: radial-gradient(circle, rgba(233,69,96,1) 0%, rgba(83,52,131,1) 100%);
    overflow: hidden;
    box-sizing: border-box;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    border-radius: 20px;
    -webkit-box-shadow:0px 0px 186px 43px rgba(230,30,190,0.18);
-moz-box-shadow: 0px 0px 186px 43px rgba(230,30,190,0.18);
box-shadow: 0px 0px 186px 43px rgba(230,30,190,0.18);
}
main > div > span {
    font-family: 'Noto Color Emoji', sans-serif;
    position: relative;
    font-size: 15em;
    overflow: hidden;
    position: relative;
}
input {
    color: #E94560;     
    border: 0;
    border-bottom: 2px solid gray;
    background: transparent;
    font-size: 24px;
    text-align: center;
}
input:focus {
    outline: none;
}
footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 30%;

}

.btnGraj {
    transition-duration: 1000ms;
    height: 60px;
    font-family: Bebas Neue; 
    font-weight: 0; 
    font-size: 26px; 
    color: #fff; 
    background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%); 
    padding: 10px 50px; 
    border: none; 
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; 
    border-radius: 50px; 
    transition : 1000ms; 
    transform: translateY(0); 
}
    
.btnGraj:hover{ 
    background: rgb(131,58,180);
    background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%); 
    border: none; 
    cursor: pointer;
}
.btnActive {
    transition-duration: 1000ms !important;
    background: rgb(131,58,180) !important; 
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) !important;   
    color: #ffffff; 
}


@keyframes slot-machine {
    0% {
        top: -100%;
    }
  
    100% {
        top: 120%;  
    }
}
@keyframes slot-machine-end {
    0% {
        top: -100%;
    }
  
    100% {
        top: 0%;  
    }
}
@keyframes slot-machine-start {
    0% {
        top: 0%;
    }
    100% {
        top: 120%;  
    }
}

.slot-machine-reel-end {
    animation: slot-machine-end 0.4s;
   
}
.slot-machine-reel-start {
    animation: slot-machine-start 0.4s;
    top: 120%;
}
.slot-machine-reel {
    animation: slot-machine 0.4s infinite;
    
}