@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
body {
    margin: 0px;
    height: 100vh;
}

header {
    background-color:coral;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > h1 {
    margin: 0px;
    word-spacing: 10px;
    text-transform: uppercase;
    font-size: 48px;
}
main {
    box-sizing: border-box;
    background: rgb(238,174,202);
    height: 60%;
    display: flex;
    gap: 5px;
    padding: 10px 15px 10px 15px;
}
main > div {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    overflow: hidden;
    box-sizing: border-box;
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25em;
    border: 2px solid red;
    border-radius: 20px;
}
.btnGraj {
    transition-duration: 1000ms;
    height: 60px;
    font-family: Bebas Neue; 
    font-weight: 0; 
    font-size: 26px; 
    color: #fff; 
    background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%); 
    padding: 10px 50px; 
    border: none; 
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; 
    border-radius: 50px; 
    transition : 1000ms; 
    transform: translateY(0); 
}
    
.btnGraj:hover{ 
    transition : 1000ms; 
    transform : translateY(-6px); 
    background: rgb(131,58,180);
    background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%); 
    border: none; 
    cursor: pointer;
}
.btnActive {
    transition-duration: 1000ms !important;
    background: rgb(131,58,180) !important; 
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) !important;   
    color: #ffffff; 
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}
main > div > span {
    font-family: 'Noto Color Emoji', sans-serif;
    position: relative;
}

@keyframes slot-machine {
    0% {
        top: -100%;
    }
  
    100% {
        top: 120%;  
    }
}
@keyframes slot-machine-end {
    0% {
        top: -100%;
    }
  
    100% {
        top: 0%;  
    }
}
.slot-machine-reel-end {
    animation: slot-machine-end 0.4s;
    overflow: hidden;
    position: relative;
}
.slot-machine-reel {
    animation: slot-machine 0.4s infinite;
    overflow: hidden;
    position: relative;
}